@font-face {
    font-family: 'MyRaleway';
    src: url('../fonts/Raleway/Raleway.ttf') format('truetype');
}
body {
    color: #3a3a3a;
}

.navbar {
    margin-bottom: 100px;
}

.nav-bg {
    font-family: 'MyRaleway';
    background-color: #8bb14e;
    text-transform: uppercase;
    padding: 0 8vw;
}

.nav-bg a {
    color: #3a3a3a;
}

.navbar-nav a {
    font-weight: 100;
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
}

.my-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-img img {
    width: 80%;
    border-radius: 50%;
    box-shadow: 2px 2px 20px #cccccc;
}

.about {
    display: flex;
    padding: 2vw 8vw;
    align-items: center;
}

section {
    padding: 0 8vw;
}

 @media (max-width: 768px) {
     .navbar-nav {
        text-align: right;
    }
    .navbar {
        margin-bottom: 30px;
    }

    .navbar-brand {
        font-size: 1.2em;
    }

    .navbar-toggler {
        font-size: 0.75em;
        padding: 0.10em 0.5em;
    }

    .about {
        padding: 4vw 8vw;
    }
 }