.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	padding: 10px;
	background-color: #ddd;
}
.grid-item {
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.instruction {
	display: flex;
	align-items: center;
	justify-content: center;
}