.grid-container {
	display: grid;
	width: 100%;
	padding: 10px;
	user-select: none;
}
.grid-item {
	background-size: contain;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-image 500ms linear;
}
body {
	/*background-color: #26de81;*/
}
.center {
	margin: 0 auto;
}