@import '../../definitions';

.project-container {
    padding: 4rem 0;
    h1 {
        text-align: left;
    }
    
}

.project-img {
    width: 100%;
}

.project-logo {
    width: 60%;
}

.project-info {
    padding: 3rem;
}

.title {
    font-size: 0.8rem;
    font-weight: 900;
    color: $secondary-color;
    margin-top: 1rem;
}

.tags {
    font-weight: 800;
}