
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* @font-face {
    font-family: april;
    src: url("FGApril_trial.ttf");
} */

body {
    font-family: Roboto;
}
.header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 2;
}

  .MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 95vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .ContentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
  }
  
  .Content {
    max-width: 750px;
    margin: 0 auto;
    padding: 75px 0;
  }

  .ParallaxContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    flex-wrap: wrap;
    transform: translateZ(-1px) scale(2);
    background-color: rgb(253, 183, 23);
  }
  .ParallaxContainer>img:hover {
      filter: opacity(1);
  }
  .ParallaxContainer>img:not(:hover) {
      filter: opacity(0.4);
      transition-delay: 2s;
  }
  .ParallaxContainer>img {
      margin: -15px 0;
      padding: 0 30px;
      max-width: 80px;
      filter: opacity(0.4);
  }

  .ParallaxContainer>.content {
    position: absolute;
    top: 35%;
    left: 27%;
    z-index: 2;
    font-size: 40px;
    color: #fff;
    /* font-weight: 300; */
    
    text-align: center;
}
 .ParallaxContainer>.content>.title {
     font-size: 80px;
     letter-spacing: 20px;
     font-weight: bold;
 }