<div>
	<h1 class="main-header">Buttons</h1>
	<section class="content-holder">
		<div class="container">
			<h1>Flat Buttons</h1>
			<div class="row">
				<div class="col-md-4">
					<div class="myCard">
						<div class="card-btn">
							<button class="btn-flat btn-1a">Add User</button>
						</div>
						<div class="card-content">
							<h5 class="card-title">Plain Flat Button</h5>
							<p class="card-text">A plain flat-ui button.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="myCard" ng-init="top='h'">
						<div class="card-btn btn-1b-bkg">
							<button class="btn-flat btn-1b" ng-class="{vertical: top == 'v', horizontal: top == 'h'}">Add User</button>
						</div>
						<div class="card-content">
							<h5 class="card-title">Clear Hover Button</h5>
							<p class="card-text">
								<input name="myRad" type="radio" ng-model="top" value="h">&nbsp;&nbsp;Horizontal
								<input name="myRad" type="radio" ng-model="top" value="v">&nbsp;&nbsp;Vertical
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="myCard">
						<div class="card-btn">
							<button class="btn-flat btn-1c">Add User</button>
						</div>
						<div class="card-content">
							<h5 class="card-title">Press Button Flat</h5>
							<p class="card-text">A plain flat-ui button.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="myCard">
						<div class="card-btn btn-1d-bkg">
							<button class="btn-flat btn-1d">Add to cart</button>
						</div>
						<div class="card-content">
							<h5 class="card-title">Plain Flat Button</h5>
							<p class="card-text">A plain flat-ui button.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>