@font-face {
    font-family: felt;
    src: url(../fonts/MarkerFelt.ttf);
}
/*COMMON STYLES*/
.main-header {
	font-family: felt;
	text-align: center;
	font-size: 80pt;
	text-shadow: 23px 18px 20px darkgrey;
}

.content-holder {
	margin-top: 80px;
}

.myCard {
	height: 340px;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	box-shadow: 4px 2px 10px #dddddd;
}

.card-btn {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-content {
	padding: 1.25rem;
	max-height: 140px;
	overflow-y: scroll;
}

.content-holder .row {
	margin-top: 30px;
}

/*BUTTON STYLES*/

.btn-flat {
	border-radius: 2px;
	width: 180px;
	height: 50px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	position: relative;
	transition: all 0.3s;
	text-transform: uppercase;
	border: none;
}

.btn-flat:focus {
	outline: none;
}

.btn-flat:active {
	outline: none;
}

.btn-1a {
	background-color: #FD7272;
	box-shadow: 2px 2px 10px grey;
}

.btn-1a:hover {
	box-shadow: 2px 3px 10px grey;
}


.btn-1a:hover {
	background-color: #FD7F7F;
}

.btn-1b-bkg {
	background-color: #3B3B98;
}

.btn-1b {
	border-radius: 1px;
	border: 2px solid #ffffff;
	background: none;
	z-index: 1;
}

.btn-1b:hover {
	color: #3B3B98;
}

.btn-1b:before {
	content: '';
	position: absolute;
	transition: all 0.3s;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.vertical:before {
	height: 0;
}

.horizontal:before {
	width: 0;
}

.vertical:hover:before{
	height: 100%;
	background-color: #ffffff;
}

.horizontal:hover:before{
	width: 100%;
	background-color: #ffffff;
}

.btn-1c-bkg {
	display: block;
	height: 50px;
}

.btn-1c {
	background-color: #cb4e4e;
	box-shadow: 0 6px #ab3c3c;
	transition: none;
}

.btn-1c:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}
.btn-1d-bkg {
	background-color: #fcd04b;
}
.btn-1d {
	padding-left: 15%;
	background-color: #fcad26;
}
.btn-1d:before {
	font-family: FontAwesome;
	content: "\f07a";
	position: absolute;
	width: 20%;
	height: 100%;
	background-color: rgba(0,0,0,0.05);
	top: 0;
	left: 0;
	line-height: 50px;
	vertical-align: middle;
}
.btn-1d:hover {
	background-color: #f29e0d;
}
.btn-1e {
	background-color: #58B19F;
	overflow: hidden;
}
.btn-1e span {
	display: inline-block;
	transition: all 0.3s;
}
.btn-1e:before {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: '\f013';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	color: #58B19F;
	line-height: 50px;
	vertical-align: middle;
	transition: all 0.3s;
}
.vertical1e:before {
	top: -100%;
}
.horizontal1e:before {
	left: -100%;
}
.vertical1e:hover:before {
	top: 0;
	color: #ffffff;
}
.vertical1e:hover span {
	transform: translatey(300%);
}
.horizontal1e:hover:before {
	left: 0;
	color: #ffffff;	
}
.horizontal1e:hover span {
	transform: translateX(300%);
}
.btn-1f-bkg {
	background-color: #AEBD38;
}
.btn-1f {
	background-color: #598234;
	overflow: hidden;
}
.btn-1f:after {
	font-family: FontAwesome;
	font-size: 1.5em;
	content: '\f0d1';
	margin-left: 10px;
	transition: all 0.7s;
	color: #AEBD38;
}
.btnActive:after {
	animation: moveLeft 0.5s;
}
.btnActive span {
	animation: fadeOutIn 1s;
}
@keyframes moveLeft {
	80% {opacity: 1; margin-left: -300px;}
	81% {opacity: 0; margin-left: -300px;}
	82% {opacity: 0; margin-left: 100px;}
	83% {opacity: 1; margin-left: 100px;}
	100% {margin-left: 10px;}
}
@keyframes fadeOutIn {
	0% {color: transparent;}
	50% {color: transparent;}
	100% {color: #ffffff;}
}

.btn-round {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	position: relative;
	transition: all 0.3s;
	text-transform: uppercase;
	border: none;
}

.btn-round:focus {
	outline: none;
}

.btn-round:active {
	outline: none;
}
.btn-2a {
	font-size: 30px;
	background-color: green;
}
.tl {
	align-items: flex-start;
	justify-content: flex-start;
}
.tr {
	align-items: flex-start;
	justify-content: flex-end;
}
.bl {
	align-items: flex-end;
	justify-content: flex-start;
}
.br {
	align-items: flex-end;
	justify-content: flex-end;
}