@font-face {
    font-family: logo;
    src: url(../fonts/MarkerFelt.ttf);
}
@font-face {
    font-family: bogo;
    src: url(../fonts/jmh-coronilla.regular.ttf);
}
body {
	background-color: #282E34;
	color: #ffffff;
}
.main {
	margin-top: 40px;
}
.logo {
	display: inline-block;
	height: 180px;
	width: 180px;
	background-color: #cdcdcd;
	border-radius: 50%;
	text-align: center;
	font-family: logo;
	font-size: 30px;
}
.origamiLogo {
	height: 150px;
}
.logoContainer {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.center {
	justify-content: center;
}
.blog {
	margin-top: 20px;
	border-top: 5px solid rgb(0, 214, 70);
	padding: 10px;
}
.blog-img {
	max-width: 80%;
	margin: 0 auto;
	border-radius: 3px;
	max-height: 250px;
}
.blog .header {
	font-family: logo;
}
.blog .secondaryHeader {
	color: #aaaaaa;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	margin-right: 20px;
}
.content {
	margin-top: 30px;
}
.hideme {
	opacity:0;
}
.footer {
	padding-top: 30px;
	height: 100px;
	background-color: #282E34;
	color: #ffffff;
	text-align: center;
}
.fa-heart {
	color: red;
}
.logo-bottom {
	background-color: #ffffff;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	margin-left: 30px;
	display: inline-block;
	height: 38px;
	width: 38px;
	transform: rotate(-45deg);
	border-radius: 4px;
	font-size: 20pt;
	font-family: bogo;
	color: #000000;
}