.img-left {
    float: left;
    width: 300px;
}
.full-img {
    width: 100%; 
}
h1, h2, h3 {
    /* text-align: center; */
    color: #7f8c8d;
}
.summary {
    margin: 0 100px;
    display: flex;
}
.summary-head {
    flex: 0.8 1 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.summary-block {
    flex: 2 1 0;
    text-align: justify;
}
