<div class="container-fluid projects">
  <h1 class="projects-header">Live Reach Media - Web Application</h1>
  <div>
    <div class="summary">
      <p class="summary-head">About the company:</p>
      <p class="summary-block">We facilitate and provide analytical insights into digital out-of-home advertising.</p>
    </div>
    <div class="summary">
      <p class="summary-head">Users:</p>
      <p class="summary-block">There are two types of users,
        <br>
        Publishers: ones who maintain the digital inventory (for
        example digital displays and billboards, their locations etc).
        <br>
        Advertisers: who wish to play their advertisements on the inventory maintained by the publisher.
    </div>
    <div class="summary">
      <p class="summary-head">Purpose of the product:</p>
      <p class="summary-block">To provide analytics based solutions for digital out-of-home advertising and
        facilitating
        interactions between display owners & advertisers.</p>
    </div>
    <div class="summary">
      <p class="summary-head">My Role:</p>
      <p class="summary-block">To design and develop a more suitable interface for the above operations and visualize
        the analytics we produce.</p>
    </div>
    <div class="summary">
      <p class="summary-head">Team Members:</p>
      <p class="summary-block">2 UI developers along side.</p>
    </div>
    <div class="summary">
      <p class="summary-head">User feedback:</p>
      <p class="summary-block">I was communicated that the users found it difficult to navigate around and significant
        features were masked behind buttons and accordions which made them difficult to discover without a prior demo.
        A detailed survey led to the following points:
        <br>
        The map is congested with pins that don't make much sense. There is no way to determine which pin represents
        corresponding location.
        <br>
        Congested UI; Too many operations filled in one place
        <br>
        The map size is small, therefore it is difficult to plot devices.
        <br>
        Many features are abstracted and are not easy to carry out without prior knowledge
      </p>
    </div>
    Zones: are special areas of interest in a site, of whose analytics are helpful to us.
    Locations: Where is the inventory based/ state region etc
    Site: Hold indoor maps of areas where the digital inventory is present.
  </div>
  <div>
    <h2>Process</h2>
    <h3>A) Problem Identification</h3>
    <img src="assets/LRMDesignFlaws.png" class="full-img" />
  </div>
  <div>
    <h3>B) Restructuring Inventory Hierarchy</h3>
    <div class="row">
      <div class="col-sm-6">
        After understanding the user's requirements, we finalized the following types of inventory:
        1. Location: A point on a google map denoting the physical co-ordinates of the inventory.
        2. Site: An image of a site layout containing multiple devices.
        3. Zone: A cut out from a site, which is a special area of interest for data & metric visualization.
        4. Device: A physical device that logs data which is required to compute our metrics.
      </div>
      <div class="col-sm-6">
        <img src="assets/Hierarchy.png" />
      </div>
    </div>
  </div>
  <div>
    <h3>C) Problem correction</h3>
    <img src="assets/LRMCorrection.png" class="full-img" />
  </div>
  <div>
    <h3>D) Inventory Addition</h3>
    <div>
      <h4>Adding Locations</h4>
      <p>Improvements made:
        Added location categories
        Added search bar for locations to make it easier to add them.
        Implemented draggable pin to precisely adjust the location.
      </p>
      <video autoplay loop>
        <source src="assets/AddLocation.mp4" type="video/mp4">
      </video>
    </div>
    <div>
      <h4>Adding Sites</h4>
      <p>Improvements made:
        Added location categories
        Added search bar for locations to make it easier to add them.
        Implemented draggable pin to precisely adjust the location.
      </p>
      <video autoplay loop>
        <source src="assets/AddSite.mp4" type="video/mp4">
      </video>
    </div>
    <div>
      <h4>Adding Devices</h4>
      <p>Improvements made:
        Added location categories
        Added search bar for locations to make it easier to add them.
        Implemented draggable pin to precisely adjust the location.
      </p>
      <video autoplay loop>
        <source src="assets/AddDevice.mp4" type="video/mp4">
      </video>
    </div>
    <div>
      <h4>Adding Zones</h4>
      <p>Improvements made:
        Added location categories
        Added search bar for locations to make it easier to add them.
        Implemented draggable pin to precisely adjust the location.
      </p>
      <video autoplay loop>
        <source src="assets/AddZone.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div>
    <h2>Feature Addition</h2>
    <h3>Heat Maps</h3>
    <p><b>Task: </b>Live tracking of population in a restricted area(zone) to be able to determine trends in movement</p>
    <p>In order to track and present movement of people at a place</p>
    <img src="assets/Heatmap.png" class="full-img" />
    <h3>Path Visualization</h3>
    <p><b>Task: </b>Given a source zone, track movements between zones and visualize this data to determine the top
      popular and populous paths.</p>
    <p>In order to track and present movement of people at a place</p>
    <img src="assets/PathVis.png" class="full-img" />
    <h3>Analytics Design</h3>
    <p>Wireframes developed</p>
    <img src="assets/LivereachWF1.png" class="full-img"/>
    <p>Wireframes developed</p>
    <img src="assets/LivereachWF2.png" class="full-img"/>
    <p>Quick Mockup of the finalized version</p>
    <img src="assets/Analytics.png" class="full-img" />
  </div>
</div>