<div class="conatiner-fluid projects">
    <div class="row eq">
        <div class="col-sm-6">
            <div class="card">
                <img class="lrm" src="assets/LRM.png" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-container">
                <h4>LIVE REACH MEDIA</h4>
                <p class="technologies">ANGULARJS / GMAPS / DATA VISUALISATION</p>
                <p class="info">Application to faciliate day to day proceedings of Live Reach Media.</p>
                <button routerLink="/projects/livereachmedia" class="btn btn-primary">View Case Study</button>
            </div>
        </div>
    </div>
    <div class="row eq">
        <div class="col-sm-6">
            <div class="text-container">
                <h4>Resource Management Tool</h4>
                <p class="technologies">HTML 5 / Material /</p>
                <p class="info">A system which retrieves employees on bench and helps tag them to project requiring the particular resources.</p>
                <button routerLink="/projects/rmg" class="btn btn-primary">View Case Study</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="assets/capgemini.png" />
            </div>
        </div>
    </div>
    <div class="row eq">
        <div class="col-sm-6">
            <div class="card dark">
                <img src="assets/Logo_3x.png" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="text-container">
                <h4>Black Knights</h4>
                <p class="technologies">ANGULAR 6 / BOOTSTRAP 3 /</p>
                <p class="info">An app designed to collaborate Nigerian start-ups</p>
                <button routerLink="/projects/black-knights" class="btn btn-primary">View Case Study</button>
            </div>
        </div>
    </div>
    <div class="row eq">
        <div class="col-sm-6">
            <div class="text-container">
                <h4>SimplyRes</h4>
                <p class="technologies">Android / Material /</p>
                <p class="info">An application to reserve tables at restaurants. Reservation made easy! </p>
                <button class="btn btn-primary">View Case Study</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="assets/capgemini.png" />
            </div>
        </div>
    </div>
</div>