<!-- <div class="MainContainer">
    <div class="ParallaxContainer" id="poster">
        <div class="content"><b class="title">KETAKI RAO</b><br> UI developer & Designer</div><img src="assets/pi1.svg" />
        <img src="assets/pi2.svg" />
        <img src="assets/pi3.svg" />
        <img src="assets/pi4.svg" />
        <img src="assets/pi5.svg" />
        <img src="assets/pi6.svg" />
        <img src="assets/pi7.svg" />
        <img src="assets/pi8.svg" />
        <img src="assets/pi9.svg" />
        <img src="assets/pi10.svg" />
        <img src="assets/pi11.svg" />
        <img src="assets/pi12.svg" />
        <img src="assets/pi13.svg" />
        <img src="assets/pi14.svg" />
        <img src="assets/pi15.svg" />
        <img src="assets/pi16.svg" />
        <img src="assets/pi17.svg" />
        <img src="assets/pi18.svg" />
        <img src="assets/pi19.svg" />
        <img src="assets/pi20.svg" />
        <img src="assets/pi21.svg" />
        <img src="assets/pi22.svg" />
        <img src="assets/pi23.svg" />
        <img src="assets/pi24.svg" />
        <img src="assets/pi25.svg" />
        <img src="assets/pi26.svg" />
        <img src="assets/pi27.svg" />
        <img src="assets/pi28.svg" />
        <img src="assets/pi29.svg" />
        <img src="assets/pi30.svg" />
        <img src="assets/pi31.svg" />
        <img src="assets/pi32.svg" />
        <img src="assets/pi33.svg" />
        <img src="assets/pi34.svg" />
        <img src="assets/pi35.svg" />
        <img src="assets/pi36.svg" />
        <img src="assets/pi37.svg" />
        <img src="assets/pi38.svg" />
        <img src="assets/pi39.svg" />
        <img src="assets/pi40.svg" />
        <img src="assets/pi41.svg" />
        <img src="assets/pi42.svg" />
        <img src="assets/pi43.svg" />
        <img src="assets/pi44.svg" />
        <img src="assets/pi45.svg" />
        <img src="assets/pi46.svg" />
        <img src="assets/pi47.svg" />
        <img src="assets/pi48.svg" />
        <img src="assets/pi49.svg" />
        <img src="assets/pi50.svg" />
        <img src="assets/pi51.svg" />
        <img src="assets/pi52.svg" />
        <img src="assets/pi53.svg" />
        <img src="assets/pi54.svg" />
        <img src="assets/pi55.svg" />
        <img src="assets/pi56.svg" />
        <img src="assets/pi57.svg" />
        <img src="assets/pi58.svg" />
        <img src="assets/pi59.svg" />
        <img src="assets/pi60.svg" />
        <img src="assets/pi61.svg" />
        <img src="assets/pi62.svg" />
        <img src="assets/pi63.svg" />

    </div>
    <div class="ContentContainer">
        <div class="Content">
            <div id="work">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget nisl lobortis erat volutpat varius ullamcorper non purus.
                Nulla porttitor, erat et dapibus lacinia, dui ex hendrerit dui, ac molestie erat elit nec tortor. Nam facilisis
                a lectus ac commodo. Praesent rhoncus ipsum lorem, a convallis nibh venenatis non. Nam feugiat erat id risus
                ornare, a scelerisque mauris eleifend. Sed viverra, nulla ut luctus vehicula, leo ante suscipit leo, non
                pellentesque turpis erat ac arcu. Nullam nec vestibulum nisl, eu lacinia elit. Suspendisse dictum auctor
                lacinia. In commodo tempus ante, sit amet congue lectus congue cursus. Ut vitae tortor neque. Integer feugiat
                blandit justo, rutrum vestibulum velit dictum ut. Integer purus lacus, varius vel placerat sed, faucibus
                vitae urna. In hac habitasse platea dictumst. Sed rhoncus nec mi nec aliquet. Nulla tempor risus erat, in
                ultricies mi venenatis vel. Nunc euismod consequat tincidunt. Nulla scelerisque ipsum a bibendum egestas.
                Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Nam pellentesque hendrerit lorem ut rutrum. Fusce pharetra laoreet ex, ut bibendum enim iaculis a. Ut commodo
                quam vitae nunc suscipit ullamcorper nec a est. Sed lobortis orci et magna ultricies elementum. Aliquam aliquet
                vehicula consectetur. Vivamus vitae massa in ex blandit consequat sed eget metus. In facilisis mi quam, vitae
                volutpat ex fringilla nec. Vivamus in leo ac augue fringilla mattis ut lobortis diam. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </div>
            <div id="about">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget nisl lobortis erat volutpat varius ullamcorper non purus.
                Nulla porttitor, erat et dapibus lacinia, dui ex hendrerit dui, ac molestie erat elit nec tortor. Nam facilisis
                a lectus ac commodo. Praesent rhoncus ipsum lorem, a convallis nibh venenatis non. Nam feugiat erat id risus
                ornare, a scelerisque mauris eleifend. Sed viverra, nulla ut luctus vehicula, leo ante suscipit leo, non
                pellentesque turpis erat ac arcu. Nullam nec vestibulum nisl, eu lacinia elit. Suspendisse dictum auctor
                lacinia. In commodo tempus ante, sit amet congue lectus congue cursus. Ut vitae tortor neque. Integer feugiat
                blandit justo, rutrum vestibulum velit dictum ut. Integer purus lacus, varius vel placerat sed, faucibus
                vitae urna. In hac habitasse platea dictumst. Sed rhoncus nec mi nec aliquet. Nulla tempor risus erat, in
                ultricies mi venenatis vel. Nunc euismod consequat tincidunt. Nulla scelerisque ipsum a bibendum egestas.
                Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                Nam pellentesque hendrerit lorem ut rutrum. Fusce pharetra laoreet ex, ut bibendum enim iaculis a. Ut commodo
                quam vitae nunc suscipit ullamcorper nec a est. Sed lobortis orci et magna ultricies elementum. Aliquam aliquet
                vehicula consectetur. Vivamus vitae massa in ex blandit consequat sed eget metus. In facilisis mi quam, vitae
                volutpat ex fringilla nec. Vivamus in leo ac augue fringilla mattis ut lobortis diam. Vestibulum ante ipsum
                primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            </div>
        </div>
    </div>
</div> -->